<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link
      href="{{ url_for('static', filename='styles/admin.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{ url_for('static', filename='styles/add_user.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    {% block link%}
    {% endblock %}
  </head>
  <body>
    
    <div class="containerbody">
        <nav>
          <ul>
            <li>
              <a href="/admin" class="logo">
                <img
                  src="{{ url_for('static', filename='Files/Resources/admin_icon.jpg') }}"
                />
                <span class="nav-item">Admin</span>
              </a>
            </li>
            <li>
              <a href="/admin">
                <i class="fas fa-tachometer-alt"></i>
                <span class="nav-item">Dashboard</span>
              </a>
            </li>
            <!-- <li>
              <a href="/admin/add_user">
                <i class="fas fa-database"></i>
                <span class="nav-item">Add Student</span>
              </a>
            </li> -->
            
            
            <li>
              <a href="#studentsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-database"></i>
                <span class="nav-item">Students</span>
              </a>
              <ul class="collapse list-unstyled" id="studentsSubmenu">
                <li>
                  <a href="/admin/add_student">
                    <i class="fas fa-plus"></i>
                    <span class="nav-item">Add Student</span>
                  </a>
                </li>
                <li>
                  <a href="/admin/view_students">
                    <i class="fas fa-eye"></i>
                    <span class="nav-item">View students</span>
                  </a>
                </li>
              </ul>
            </li>
            
            <li>
              <a href="#majorsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-database"></i>
                <span class="nav-item">Majors</span>
              </a>
              <ul class="collapse list-unstyled" id="majorsSubmenu">
                <li>
                  <a href="/admin/add_major">
                    <i class="fas fa-plus"></i>
                    <span class="nav-item">Add Major</span>
                  </a>
                </li>
                <li>
                  <a href="/admin/view_majors">
                    <i class="fas fa-eye"></i>
                    <span class="nav-item">View Majors</span>
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="admin_attendance_list">
                <i class="fas fa-chart-bar"></i>
                <span class="nav-item">Attendance Records</span>
              </a>
            </li>
            <li>
              <a href="#usersSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-database"></i>
                <span class="nav-item">Users</span>
              </a>
              <ul class="collapse list-unstyled" id="usersSubmenu">
                <li>
                  <a href="/admin/add_user">
                    <i class="fas fa-plus"></i>
                    <span class="nav-item">Add User</span>
                  </a>
                </li>
                <li>
                  <a href="/admin/view_users">
                    <i class="fas fa-eye"></i>
                    <span class="nav-item">View User</span>
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="{{ url_for('logout') }}" class="logout">
                <i class="fas fa-sign-out-alt"></i>
                <span class="nav-item">Logout</span>
              </a>
            </li>
          </ul>
        </nav>
        <br />
        <br />
    {% block content%}
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $('#addModuleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var majorId = button.data('id')
            var modal = $(this)
            modal.find('#majorId').val(majorId)
        })
    </script>
  </body>
</html>
