{% extends "base.html"%}
{%block content%}
    
    <div class="dashboard-container mt-4">
        <h2 class="mb-3">Console For {{ fullname }}</h2>
        <p> In the Department of {{ major }} and Module {{module}}</p>

        <div class="row g-3">
            <div class="col-md-4">
                <a href="{{ url_for('capture_attendance') }}" class="text-decoration-none">
                    <div class="dashboard-card">
                        <div class="icon">📷</div>
                        <h5>Capture Attendance</h5>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="{{ url_for('student_attendance_list') }}" class="text-decoration-none">
                <div class="dashboard-card">
                    <div class="icon">📊</div>
                    <h5>Attendance Records</h5>
                </div>
            </a>
            </div>
            <div class="col-md-4">
                <div class="dashboard-card">
                    <div class="icon">📝</div>
                    <h5>Generate Reports</h5>
                </div>
            </div>
        </div>
    </div> 
  
    {% endblock %}
