{% extends "base_admin.html"%}
    {%block content%}
    <section class="containerStudent">
    <h2>Students</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Major</th>
                    <th>Year</th>
                    <th>Starting Year</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                {% for id, student in students.items() %}
                <tr>
                    <td>{{ student.id }}</td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.major }}</td>
                    <td>{{ student.year }}</td>
                    <td>{{ student.starting_year }}</td>
                    <td><img src="{{ url_for('static', filename='Files/Images/' ~ student.id ~ '.png') }}" alt="{{ student.name }}" class="student-img"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    {%endblock%}